

.container {
border: 6px solid grey;
width: 100%;
max-width:800px;
height: 200px;
display: flex;
align-items: center;
justify-content: space-between;
}

.largewrapper {
    align-items: flex-start;
    padding-left: 25px;
}
.largebox {
    border: 5px solid black;
    width: 150px;
    height: 150px;
    background-color: red;
}

.smallwrapper {
    display: flex;
    flex-direction:row-reverse;
}

.smallbox{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    background-color: rgba(233, 45, 45, 0.739);
    margin-right: 20px;
 
}