* {
    box-sizing: border-box;
}

.container {
    border: 5px solid grey;
    padding: 24px 24px 0 24px;
    justify-content: space-between;
    display: flex;
    max-width: 9000px;
}

.wrapper {
    width: 50%;
}

.box {
    border: 2px solid black;
    margin-bottom: 24px;
    padding: 10px 0px 0px 10px;
}

.box-small {
    height: 50px;
    background-color:rgb(140, 211, 240);

}


.box-large {
    width: 45%;
    background-color:rgb(129, 226, 194);
  
}